.criar-card {
    margin: 32px 0;
    
    background-color: #6278F7;

    padding: 32px;
    border-radius: 10px;
    border: none;

    color: #fff;
    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
}

.criar-card:hover {
    color: #95FFD4 ;
}